<div class="h2 mt-5 ">{{elegido.volumeInfo.title}}</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card mt-5 mb-5">
        <img class="card-img-top img-fluid align-self-center animated rubberBand" style="height: 400px; width:400px;" src="{{elegido.volumeInfo.imageLinks.small}}"
        alt="Card image cap">
        <div class="card-body">
          <div class="h6">{{elegido.volumeInfo.authors}}</div>
          <div class="h6"innerHTML="{{elegido.volumeInfo.description}}"></div>
        </div>
      </div>

    </div>
  </div>
</div>